/* styles.css */

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    animation: backgroundSlide 12s infinite;

}

.image-container{
    margin-bottom: 20px;
}
.login-form {
    background: rgba(255, 255, 255, 255);
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
    border-radius: 0;
}


.input100 {
  font-family: Raleway-SemiBold;
  font-size: 18px;
  line-height: 1.2;
  color: #686868;
  display: block;
  width: 100%;
  background: #E6E6EB;
  height: 60px;
  border-radius: 0;
  padding: 0 30px 0 65px;
}

@keyframes backgroundSlide {
    0% { background-image: url("../img/fondo1.jpg"); }
    33% { background-image: url("../img/fondo1.jpg"); }
    34% { background-image: url("../img/fondo2.jpg"); }
    66% { background-image: url("../img/fondo2.jpg"); }
    67% { background-image: url("../img/fondo3.png"); }
    100% { background-image: url("../img/fondo3.png");}
  }
  

#texto-login {
  margin-top: 30px;
}

#texto-login {
  line-height: 2.5;
}

#texto-login:hover{
  color: red;
}


/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
  color: #666666;
}

/*---------------------------------------------*/
a {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: #d33f8d;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

select {
	outline: none;
	border: none;
}

textarea:focus, input:focus, select:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

select:focus::-webkit-input-placeholder { color:transparent; }
select:focus:-moz-placeholder { color:transparent; }
select:focus::-moz-placeholder { color:transparent; }
select:focus:-ms-input-placeholder { color:transparent; }

input:-webkit-input-placeholder { color: #acacac; }
input:-moz-placeholder { color: #acacac; }
input:-moz-placeholder { color: #acacac; }
input:-ms-input-placeholder { color: #acacac; }

textarea:-webkit-input-placeholder { color: #acacac; }
textarea:-moz-placeholder { color: #acacac; }
textarea:-moz-placeholder { color: #acacac; }
textarea:-ms-input-placeholder { color: #acacac; }

select:-webkit-input-placeholder { color: #acacac; }
select:-moz-placeholder { color: #acacac; }
select:-moz-placeholder { color: #acacac; }
select:-ms-input-placeholder { color: #acacac; }

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

.custom-btn {
  text-transform: uppercase;
  line-height: 1.5;
  border-radius: 3px; 
  color: #fff;
  background: #5cb85c;
  margin-top: 20px; 
  font-family: 'Raleway-Bold'; 
  font-size: 16px; 
  width: 100%;
  height: 62px;
}



.btn:hover {
  background-color: #333333;
  color: white;
	cursor: pointer;
}

iframe {
	border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: Raleway-Regular;
  font-size: 16px;
  color: #999999;
  line-height: 1.4;
}

.bo1 {
  border-bottom: 1px solid #999999;
}

.hov1:hover {
  border-color: #d33f8d;
}


/*//////////////////////////////////////////////////////////////////
[ login ]*/




/*------------------------------------------------------------------
[  ]*/
.login100-form {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.login100-form-title {
  font-family: Raleway-Black;
  font-size: 20px;
  color: #333333;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  display: block;
  margin-bottom: 30px;
}


/*---------------------------------------------*/
.wrap-input100 {
  position: relative;
  width: 100%;
  z-index: 1;
}

.input100 {
  font-family: Raleway-SemiBold;
  font-size: 18px;
  line-height: 1.2;
  color: #666666;
  display: block;
  width: 100%;
  background: #E6E6EB;
  height: 60px;
  border-radius: 0;
  padding: 0 30px 0 65px;
}


/*------------------------------------------------------------------
[ Focus ]*/
.focus-input100 {
  display: block;
  position: absolute;
  border-radius: 3px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: #5cb85c;
}

.input100:focus + .focus-input100 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 60px 20px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 60px 20px;
    opacity: 0;
  }
}

.symbol-input100 {
  font-size: 24px;
  color: #999999;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 23px;
  padding-bottom: 5px;
  pointer-events: none;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100 + .symbol-input100 {
  color: #5cb85c;
  padding-left: 18px;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.login100-form-btn:hover {
  background: #333333;
}



.login100-form-btn:hover {
  background: #333333;
}

/*//////////////////////////////////////////////////////////////////
[ responsive ]*/

@media (max-width: 480px) {
  .wrap-login100 {
    padding-left: 15px;
    padding-right: 15px;
  }
}